<!-- <ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <form [formGroup]="form" (ngSubmit)="salvar()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <img src="https://i.imgur.com/mmcxiFZ.png" alt="" />
          <div padding> 
            <ion-item>
              <ion-input name="nome" [(ngModel)]="usuario.nome" formControlName="nome" placeholder="Nome" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" [(ngModel)]="usuario.email" formControlName="email" placeholder="E-mail" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="senha" [(ngModel)]="usuario.senha" formControlName="senha" type="password"  placeholder="Senha" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="senha" [(ngModel)]="usuario.senha" formControlName="senha"  placeholder="Confirmar senha" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="default" type="submit" expand="block" color="secondary" [disabled]="form.invalid"><p class="ion-padding-horizontal" style="font-weight: 700;">Salvar</p></ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>