<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      AdoptPet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt="" />
    <ion-card-header>
      <ion-card-title>Bem-Vindo!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras pharetra at massa non vehicula. Nulla quis molestie diam.
        Ut imperdiet ex volutpat, venenatis erat at, finibus arcu.
      </p>
    </ion-card-content> 
  </ion-card>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-thumbnail>
    <p>ras pharetra at massa non vehicula. Nulla quis molestie diam.</p>
  </ion-item>
</ion-content>
<!-- <div class="ion-padding">
  <ion-button expand="block" (click)="login()" type="submit" class="ion-no-margin">Create account</ion-button>
</div> -->   