.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
  background-color: #ffffff;
}

<<<<<<< HEAD
=======
.welcome-card {
  background-color: #ffffff;
}


>>>>>>> fa170c7ac8701fc14ac16fdc281f43d6b94fa518
